# Port de l'aplicacio
APP_PORT = 3000


# Eleccio de base de dades: SQL o MONGO
DB_TYPE = MONGO

# Connexio a bd mongo
DB_CONN_MONGO_URL = mongodb://user:password@host:port/db

# La connexio pot ser de tipus mysql o mariadb
DB_CONN_SQL_URL = mysql://user:password@host:port/db


# Si es true s'esborren les taules i es crean de nou
# si no es exactament true , es tracta com a false
RECREATE_DB = true


# si no es exactament true , es tracta com a false
DEBUG_DB = true
